<%- include ('partials/header') %>
<div class="container">
<h1> New drink </h1>

<form action="/drinks" method="POST">

<div class="form-group">
	<input type="text" name="type" class="form-control" placeholder="Drink Name" required>
</div>
 <div class="form-group">
	<input type="text" name="category" class="form-control" placeholder="Category" required>
</div>
<div class="form-group">
	<input type="text" name="image" class="form-control" placeholder="Image" required>
</div>
 <div class="form-group">
	<textarea name="description" class="form-control" placeholder="Description" required></textarea>
</div>
<div class="form-group">
	<input type="text" name="standard_calories" class="form-control" placeholder="Calories" required>
</div>
<div class="form-group">
	<input type="text" name="ingredients" class="form-control" placeholder="Ingredients" required>
</div>
<div class="form-group">
	<input type="text" name="small" class="form-control" placeholder="Size Small"
	required pattern = "true|false" title="Must be true/false">
</div>
<div class="form-group">
	<input type="text" name="medium" class="form-control" pattern = "true|false" required
	 placeholder="Size Medium" title="Must be true/false">
</div>
<div class="form-group">
	<input type="text" name="large" class="form-control" pattern = "true|false" required
	placeholder="Size Large" title="Must be true/false">
</div>
<div class="form-group">
	<button type="submit" class="btn btn-info" >Save</button>
</div>

</form>

<a href="/drinks">Cancel</a>

</div>

<%- include ('partials/footer') %>